@model HyperlinksAndBookmarksDemoOptions
@{DemoHelper.Instance.ControlAreaMaxWidth = Unit.Percentage(100);}

@section StartDemoRegion {
    @{ Html.BeginForm(); }
}
@Html.Partial("HyperlinksPartial", Model)
@section DemoOptionsTop {
    <div class="options">
        <div class="options-item">
            @Html.DevExpress().CheckBox(s => {
                s.Name = "ShowBookmarks";
                s.Properties.Caption = "Show bookmarks";
                s.Checked = Model.ShowBookmarks;
                s.Theme = DemoHelper.Instance.Theme;
                s.Properties.ClientSideEvents.ValueChanged = "function(s, e) { $('form').submit(); }";
            }).GetHtml()
        </div>
        <div class="options-item">
            @Html.DevExpress().ColorEdit(s => {
                s.Name = "BookmarkColor";
                s.Properties.Caption = "Bookmark color";
                s.Color = Model.BookmarkColor;
                s.Theme = DemoHelper.Instance.Theme;
                s.Properties.ClientSideEvents.ValueChanged = "function(s, e) { $('form').submit(); }";
            }).GetHtml()
        </div>
    </div>
}
@section EndDemoRegion {
    @{ Html.EndForm(); }
}